<ng-container>

    <!-- HEADER -->
    <header id="fh5co-header" class="fh5co-cover backG" role="banner" data-stellar-background-ratio="0.5">
        <!-- <video autoplay muted loop id="video-background">
            <source src="../../assets/images/fondo-video.mp4" type="video/mp4">
            Tu navegador no soporta el elemento de video.
        </video> -->
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div class="display-t">
                        <div class="display-tc animate-box" data-animate-effect="fadeIn" style="vertical-align: super; position: relative; top: 105px;">
                            <h1>Peter &amp; Leidy</h1>
                            <h2>We Are Getting Married</h2>
                            <!-- COUNTDOWN -->
                            <div style="margin-top: 40px;">
                                <div class="col-xs-4 animate-box countDown">
                                    <p>{{ meses }}</p>
                                    <p>Month{{ meses !== 1 ? "s" : ""}}</p>
                                </div>
                                <div class="col-xs-4 animate-box countDown">
                                    <p>{{ dias }}</p>
                                    <p>Day{{ dias !== 1 ? "s" : ""}}</p>
                                </div>
                                <div class="col-xs-4 animate-box countDown">
                                    <p> {{ horas }}</p>
                                    <p>Hour{{ horas !== 1 ? "s" : ""}}</p>
                                </div>
                                <!-- <div class="col-md-3 col-sm-6 animate-box countDown">
                                    <p>{{ minutos }}</p>
                                    <p>Minutes</p>
                                </div> -->
                                <!-- <div class="col-md-3 col-sm-6 animate-box countDown">
                                    <p>{{ segundos }}</p>
                                    <p>Seconds</p>
                                </div> -->
                                <!-- REVISAR UTILIDAD -->
                                <!-- <p><a href="#" class="btn btn-default btn-sm">Save the date</a></p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- INTRODUCTION -->
    <div id="fh5co-couple">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h1 style="font-size: 34px !important; font-family: Work Sans, Arial, sans-serif;">August 30th, 2024, Germany.</h1>
                    <h2 style="color: gray;">Civil Ceremony</h2>
                    <p style="color: black; font-weight: 550;">Orangerie im Schlosspark. Kanalstraße 26A, 16515 Oranienburg.</p>
                    <p>We invite you to celebrate our wedding</p>
                </div>
            </div>
            <!-- <div class="couple-wrap animate-box">
                <div class="couple-half">
                    <div class="groom">
                        <img src="assets/images/groom.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-groom">
                        <h3>Peter Bochtler</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
                    </div>
                </div>
                <p class="heart text-center"><i class="icon-heart2"></i></p>
                <div class="couple-half">
                    <div class="bride">
                        <img src="assets/images/bride.jpg" alt="groom" class="img-responsive">
                    </div>
                    <div class="desc-bride">
                        <h3>Leidy Centeno</h3>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove</p>
                    </div>
                </div>
            </div> -->
        </div>
    </div>

    <!-- WEDDING EVENTS -->
    <div id="fh5co-event" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg);">
        <div class="overlay"></div>
        <div class="container" style="margin-top: -20px;">
            <div class="row" style="height: 90px;">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <!-- <span>Our Special Events</span> -->
                    <h2>Wedding Events</h2>
                </div>
            </div>
            <div class="row">
                <div class="customHeight display-t">
                    <div class="customHeight display-tc">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box customHeight">
                                    <h3>Main Ceremony</h3>
                                    <span style="margin-bottom: 20px;">Garden room / Gartenzimmer Eifer</span>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>2:00 PM</span>
                                        <span>3:00 PM</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Sunday 30</span>
                                        <span>August, 2024</span>
                                    </div>
                                    <p>
                                        We will perform our civil marriage in a small garden room of the Castle park. There will be a few chears and space for anybody who would like to witness this special moment. 
                                        After signing the book and becoming officially married by the German law we will take some time to make a toast and enjoy the garden.    
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 text-center">
                                <div class="event-wrap animate-box customHeight">
                                    <h3>Wedding Party</h3>
                                    <span style="margin-bottom: 20px;">Orangerie</span>
                                    <div class="event-col">
                                        <i class="icon-clock"></i>
                                        <span>4:00 PM</span>
                                        <span>Sunrise</span>
                                    </div>
                                    <div class="event-col">
                                        <i class="icon-calendar"></i>
                                        <span>Sunday 30</span>
                                        <span>August, 2024</span>
                                    </div>
                                    <p>
                                        After the official ceremony is time to celebrate!
                                        We will walk together to the Orangerie and party as long as our bodies can resist! so bring comfortable shoes and get ready for this!
                                        <br>
                                        <strong>We strongly recommend to find a hotel near by for this night.</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="animate-box text-center">
                    <span style="color: #fff !important;">You can check the map of the venue here: </span>
                    <button class="grayButton" (click)="openImageModal()">See Image</button>
                </div>
            </div>
        </div>
    </div>

    <!-- TRAVEL & LODGING -->
    <div id="fh5co-couple-story">
        <div class="container">
            <!-- <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                    <h2>Civil Wedding</h2>
                </div>
            </div> -->
            <div class="row">
                <div class="col-md-12 col-md-offset-0">
                    <ul class="timeline animate-box">
                        <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(assets/images/Image_location.jpeg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">How to get there</h3>
                                </div>
                                <div class="timeline-body">
                                    <p>The location where the wedding events will take place.</p>
                                </div>
                                <div class="timeline-body">
                                    <a class="cursorPointer" style="color: rgb(0 107 180);" href="t&l/">For more information, click here.</a>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted animate-box">
                            <div class="timeline-badge" style="background-image:url(assets/images/Image_hotel_2.jpeg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">Where can I stay</h3>
                                </div>
                                <div class="timeline-body">
                                    <p>Information about addresses, contacts, and prices of various options for hotels, Airbnbs, or places where you can stay.</p>
                                </div>
                                <div class="timeline-body">
                                    <a class="cursorPointer" style="color: rgb(0 107 180);" href="t&l/">For more information, click here.</a>
                                </div>
                            </div>
                        </li>
                        <!-- <li class="animate-box">
                            <div class="timeline-badge" style="background-image:url(assets/images/couple-3.jpg);"></div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h3 class="timeline-title">In A Relationship</h3>
                                    <span class="date">January 1, 2016</span>
                                </div>
                                <div class="timeline-body">
                                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                                </div>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div id="fh5co-counter" class="fh5co-bg fh5co-counter" style="background-image:url(assets/images/img_bg_5.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="display-t">
                    <div class="display-tc">
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
                                <span class="icon">
                                    <i class="icon-users"></i>
                                </span>

                                <span class="counter js-counter" data-from="0" data-to="500" data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Estimated Guest</span>

                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
                                <span class="icon">
                                    <i class="icon-user"></i>
                                </span>

                                <span class="counter js-counter" data-from="0" data-to="1000" data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">We Catter</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
                                <span class="icon">
                                    <i class="icon-calendar"></i>
                                </span>
                                <span class="counter js-counter" data-from="0" data-to="402" data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Events Done</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 animate-box">
                            <div class="feature-center">
                                <span class="icon">
                                    <i class="icon-clock"></i>
                                </span>

                                <span class="counter js-counter" data-from="0" data-to="2345" data-speed="5000" data-refresh-interval="50">1</span>
                                <span class="counter-label">Hours Spent</span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- EVENTS AND TOURIST ATTRACTIONS -->
    <!-- <div id="fh5co-testimonial" class="fh5co-section-gray">
        <div class="container">
            <div class="row">
                <div class="row animate-box">
                    <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                        <h2>Events and tourist attractions</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 animate-box">
                        <div class="wrap-testimony">
                            <div class="owl-carousel-fullwidth">
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img src="assets/images/couple-1.jpg" alt="user">
                                        </figure>
                                        <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                        <blockquote>
                                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img src="assets/images/couple-2.jpg" alt="user">
                                        </figure>
                                        <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                        <blockquote>
                                            <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="testimony-slide active text-center">
                                        <figure>
                                            <img src="assets/images/couple-3.jpg" alt="user">
                                        </figure>
                                        <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                        <blockquote>
                                            <p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div id="fh5co-services" class="fh5co-section-gray">
        <div class="container">
            
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>We Offer Services</h2>
                    <p>Dignissimos asperiores vitae velit veniam totam fuga molestias accusamus alias autem provident. Odit ab aliquam dolor eius.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-calendar"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>We Organized Events</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-image"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Photoshoot</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                        </div>
                    </div>

                    <div class="feature-left animate-box" data-animate-effect="fadeInLeft">
                        <span class="icon">
                            <i class="icon-video"></i>
                        </span>
                        <div class="feature-copy">
                            <h3>Video Editing</h3>
                            <p>Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit. Eos cumque dicta adipisci architecto culpa amet.</p>
                        </div>
                    </div>

                </div>

                <div class="col-md-6 animate-box">
                    <div class="fh5co-video fh5co-bg" style="background-image: url(assets/images/img_bg_3.jpg); ">
                        <a href="https://vimeo.com/channels/staffpicks/93951774" class="popup-vimeo"><i class="icon-video2"></i></a>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>

            
        </div>
    </div> -->

    <!-- ATTENDING CONFIRMATION -->
    <div id="fh5co-started" class="fh5co-bg" style="background-image:url(assets/images/img_bg_4.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Are You Attending?</h2>
                    <p>Please Fill-up the form to let us know if you're attending. Thanks.</p>
                </div>
            </div>
            <div class="row animate-box">
                <div *ngIf="!formCompleted" class="col-md-10 col-md-offset-1">
                    <form class="form-inline">
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="name" class="sr-only">Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Name" name="nombreUsuario" [(ngModel)]="nombreUsuario">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label for="apellido" class="sr-only">Second Name</label>
                                <input type="text" class="form-control" id="apellido" placeholder="Apellido" name="apellidoUsuario" [(ngModel)]="apellidoUsuario">
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="form-group">
                                <label class="sr-only">Attendance</label>
                                <select class="form-control" id="attendance" name="asistencia" [(ngModel)]="asistencia">
                                    <option [value]="true" style="color: black;">Attending</option>
                                    <option [value]="false" style="color: black;">Not Attending</option>
                                </select>
                            </div>
                        </div>
                        <!-- invitados -->
                        <div *ngFor="let guest of guests; let i = index" class=" fw col-md-10 col-md-offset-1">
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="guestName{{guest.index}}" class="sr-only">Guest Name</label>
                                    <input type="text" class="form-control" id="guestName{{guest.index}}" placeholder="Nombre del Invitado" 
                                    [(ngModel)]="guests[i].nombre" name="guest{{i}}">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                    <label for="guestApellido{{guest.index}}" class="sr-only">Guest Second Name</label>
                                    <input type="text" class="form-control" id="guestApellido{{guest.index}}" placeholder="Apellido del Invitado" 
                                    [(ngModel)]="guests[i].apellido" name="guestApellido{{i}}">
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 text-center">
                                <button type="button" class="btn btn-danger" style="background-color: rgb(221, 0, 0); padding: 0px 30px; font-size: 25px;" (click)="removeGuest(i)">
                                    X
                                </button>
                            </div>
                        </div> 
                        <ng-container class="col-md-10 col-md-offset-1">
                            <!-- Boton add guest-->
                            <div *ngIf="asistencia; else disabledAddButton" class="col-md-4 col-sm-4">
                                <button type="button" class="btn btn-default btn-block" (click)="addGuest()">Add guest</button>
                            </div>
                            <ng-template #disabledAddButton>
                                
                            </ng-template> 
                            <!-- boton submit -->
                            <div class="col-md-4 col-sm-4">
                                <div *ngIf="guests.length === 0 ; else guestsExists">
                                    <button *ngIf="nombreUsuario && apellidoUsuario; else disabledButton1" type="submit" class="btn btn-default btn-block" (click)="submit()">Submit</button>
                                    <ng-template #disabledButton1>
                                        <button type="submit" class="btn btn-default btn-block" style="background-color: gray;" disabled="true">Submit</button>
                                    </ng-template>
                                </div>
                                <ng-template #guestsExists>
                                    <button *ngIf="isGuestFormValid(); else disabledButton2" type="submit" class="btn btn-default btn-block" (click)="submit()">Submit</button>
                                    <ng-template #disabledButton2>
                                        <button type="submit" class="btn btn-default btn-block" style="background-color: gray;" disabled="true">Submit</button>
                                    </ng-template>
                                </ng-template>
                            </div>                        
                        </ng-container>
                    </form>
                </div>
                <div *ngIf="formCompleted" class="col-md-10 col-md-offset-1 text-center">
                    <h2 style="color: white;">Thank you!</h2>
                </div>
            </div>
        </div>
    </div>

</ng-container>
