

@media (min-width: 992px) { /* Target screens wider than 992px (typical computer screens) */
    .customHeight {
      height: 520px !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) { 
  /* Target screens wider than 768px and narrower than 992px (typical tablet screens) */
  .customHeight {
    height: 590px !important;
  }
}

@media (min-width: 992px) and (max-width: 1200px) { 
  /* Target screens wider than 768px and narrower than 992px (typical tablet screens) */
  .customHeight {
    height: 523px !important;
  }
}

.countDown {
  color: white;
  /* background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 2%;
  margin: 0 8% !important;
  width: 17.333333%;
  padding: 2.333333% 0%; */
}
