<div class="fh5co-loader"></div>
<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row" class="customNav">
				<div class="col-xs-2">
					<div id="fh5co-logo" style="white-space: nowrap;">
						<a href="">Our wedding</a>
					</div>
				</div>
				<div class="col-xs-10 text-right menu-1">
					<ul>
						<li [class.active]="currentUrl === '/'"><a href="">Home</a></li>
                        <li [class.active]="currentUrl === '/t&l'"><a href="t&l/" >Travel & Lodging</a></li>
                        <li [class.active]="currentUrl === '/gallery'"><a href="gallery/" >Gallery</a></li>
                        
						<!-- <li><a href="about.html">Story</a></li>
						<li class="has-dropdown">
							<a href="services.html">Services</a>
							<ul class="dropdown">
								<li><a href="#">Web Design</a></li>
								<li><a href="#">eCommerce</a></li>
								<li><a href="#">Branding</a></li>
								<li><a href="#">API</a></li>
							</ul>
						</li>
						<li class="has-dropdown">
							<a href="gallery.html">Gallery</a>
							<ul class="dropdown">
								<li><a href="#">HTML5</a></li>
								<li><a href="#">CSS3</a></li>
								<li><a href="#">Sass</a></li>
								<li><a href="#">jQuery</a></li>
							</ul>
						</li>
						<li><a href="contact.html">Information</a></li> -->
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<ng-container>
		<router-outlet></router-outlet>
	</ng-container>

</div>

<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
</div>