<div class="container">
    <div class="row " style="overflow-x: hidden; padding: 15px 0px; width: 100%; margin: 0;">
      <div class="col-md-6 text-center img1" >
        <img class="" src="assets/images/parkMap2.jpg" alt="Image">
        <span>Entering from the orangerie parking (suggested if coming by car)</span>
      </div>
      <div class="col-md-6 text-center mgt03">
        <img class="" src="assets/images/parkMap3.jpg" alt="Image">
        <span>Entering from the main entrance of the park (suggested if coming by public transport)</span>
      </div>
    </div>
  </div>
  

<!-- <div class="container">
    <div class="row">
        <div class="col-md-12 text-center" style="height: 100vh;">
            <div class="display-t">
                <div class="display-tc customAlign" data-animate-effect="fadeIn">
                    <div>
                        <div class="col-xs-6">
                            <img class="img1" src="assets/images/parkMap2.jpg" alt="Image">  
                            <span>Entering from the orangerie parking (sugested if comming by car)</span>
                        </div>
                        <div class="col-xs-6">
                            <img class="" src="assets/images/parkMap3.jpg" alt="Image">  
                            <span>Entering from the main entrance of the park (sugested if comming by public transport)</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="row" style="margin: 0 !important;">
    <div class="display-t">
        <div class="display-tc">
            <div class="col-md-10 col-md-offset-1 text-center">
                <div class="col-md-6 col-sm-6 text-center">
                    <div class="event-wrap">
                        <img class="img1" src="assets/images/parkMap2.jpg" alt="Image">  
                        <span>Entering from the orangerie parking (sugested if comming by car)</span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 text-center">
                    <div class="event-wrap">
                        <img class="" src="assets/images/parkMap3.jpg" alt="Image">  
                        <span>Entering from the main entrance of the park (sugested if comming by public transport)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->