/* Target screens wider than 768px (typical computer screens) */
/* @media (max-width: 768px) { 
    .customPadding {
      padding: 10px !important;
    }
} */

.timeline-body {
    /* color: aliceblue; */
    color: rgba(255, 255, 255, 0.766);
}

.timeline-body span{
    color: rgba(0, 0, 0, 0.739) !important;
}

.section-title {
    font-size: 36px !important;
    font-weight: bold !important;
    color: white !important; 
    font-family: 'Open Sans', sans-serif !important;
    /* font-family: 'Roboto', sans-serif !important;
    font-family: 'Montserrat', sans-serif !important;
    font-family: 'Lato', sans-serif !important; */
}

.item {
    padding: 10px;
}

.testimony-slide {
    /* border: 2px solid; */
    border-radius: 15px;
    padding: 10px;

    border: 2px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
}

@media (min-width: 992px) { 
    .custommg {
        position: relative;
        top: -30px;
    }
}
