<div id="fh5co-couple-story" class="fh5co-bg" style="background-image:url(assets/images/img_bg_1.jpg); width: 100%;">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center fh5co-heading animate-box">
                <h2>Civil Wedding</h2>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(assets/images/couple-1.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title" style="color: white;">How to get there</h3>
                                <span class="date" style="color: #e5e5e5;">December 25, 2015</span>
                            </div>
                            <div class="timeline-body" style="color: aliceblue;">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url(assets/images/couple-2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title" style="color: white;">Where can i stay</h3>
                                <span class="date" style="color: #e5e5e5;">December 28, 2015</span>
                            </div>
                            <div class="timeline-body" style="color: aliceblue;">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <!-- <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(assets/images/couple-3.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title">In A Relationship</h3>
                                <span class="date">January 1, 2016</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</div>