<div id="fh5co-couple-story" class="fh5co-bg" style="background-image:url(assets/images/img_bg_3.jpg); width: 100%;">
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-12 col-md-offset-0">
                <ul class="timeline animate-box">
                    <li class="animate-box">
                        <div class="timeline-badge" style="background-image:url(assets/images/couple-1.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title" style="color: white;">How to get there</h3>
                                <span class="date" style="color: #e5e5e5;">December 25, 2015</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted animate-box">
                        <div class="timeline-badge" style="background-image:url(assets/images/couple-2.jpg);"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h3 class="timeline-title" style="color: white;">Where can i stay</h3>
                                <span class="date" style="color: #e5e5e5;">December 28, 2015</span>
                            </div>
                            <div class="timeline-body">
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div> -->
    <div class="container" style="margin-top: 20px;">
        <!-- How to get there -->
        <div class="row">
            <div class="row animate-box" style="height: 70px;">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2 class="section-title">How to get there</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <div id="map"></div>
                    <div class="text-center"><span style="color: rgba(255, 255, 255, 0.65);">Orangerie im Schlosspark</span></div>
                </div>
            </div>
        </div>
        <!-- Where can i stay -->
        <div class="row mgt10">
            <div class="row animate-box" style="height: 70px;">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2 class="section-title" style="margin-top: -10px;">Where can I stay</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <!-- Berlin -->
                    <div class="wrap-testimony">
                        <h1 style="color: aliceblue;">Berlin</h1>
                        <div class="owl-carousel-fullwidth" >
                            <!-- 1st hotel -->
                            <div class="item pd10">
                                <div class="customPadding testimony-slide active ">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Hotel Solitaire
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Hermann-Hesse-Straße 64, 13156 Berlin / Tel: (0049) 030-916010 / Fax: (0049) 030-91601100 / info&#64;solitaire.de
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Price:</span> Single rooms 79€ / Double rooms 130€
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 2nd hotel -->
                            <div class="item pd10">
                                <div class="customPadding testimony-slide active" >
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin - Center
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Ferienremise-Berlin. <br>
                                            Entire guesthouse in Berlin, Germany. 16+ guests,4 bedrooms,10 beds,4.5 bath
                                        </p>
                                        <p>
                                            <span href="" style="font-size: larger; color: black;">Address &amp; contacts:</span>
                                        </p>
                                        <p>
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://www.airbnb.com/rooms/1838879?check_in=2025-08-29&check_out=2025-09-02&guests=1&adults=16&s=67&unique_share_id=435c453b-784d-41ca-89f1-f7b2726e3c0c">
                                                Click here to visit the web page
                                            </a>
                                        </p>
                                        <p>
                                            
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Price:</span> 325€/night
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 3rd hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Ferienwohnung Funk. <br>
                                            Guesthouse.
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span>
                                        </p>
                                        <p>
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://www.ferienwohnung-funk-berlin.de/">
                                                Click here to visit the web page
                                            </a>
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Price:</span>
                                        </p>
                                        <p>
                                            - 1st floor:
                                            Basic price (1 - 4 people) €160 per night,
                                            each additional person €40 per night
                                        </p>
                                        <p>
                                            - Attic:
                                            Basic price (1 - 4 people) €180 per night,
                                            each additional person €45.00 per night
                                        </p>
                                        <p>
                                            - Garden house:
                                            Basic price (1 - 6 people) €210 per night,
                                            each additional person €35.00 per night.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 4th hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> IBIS Berlin city Nord
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                             Alt-Reinickendorf 4-5, 13407 Berlin / Tel: +49 030 498830 / 
                                             <a style="color: aliceblue; text-decoration: underline;" href="https://all.accor.com">Click here to visit the web page</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 5th hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Businesshotel Berlin
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Pasewalker Str. 97, 13127 Berlin / Tel: +49 030 476980 / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://businesshotel.de">Click here to visit the web page</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 6th hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Hotel Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Pasewalker Str. 14, 13127 Berlin / Tel: +49 030 4862600 / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://hotel-pankow-berlin.de">Click here to visit the web page</a> 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 7th hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Gaestehaus papa
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Kurze Str. 4, 13158 Berlin / Tel: +49 03049851264 / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://gaestehaus-papa.de">Click here to visit the web page</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 8th hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Hotel Parkidyll
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Heinrich-Mann-Straße 6, 13156 Berlin / Tel: +49 030 4998830 / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://it.hotels.com/ho342775/hotel-parkidyll-berlino-germania/?chkin=2024-08-29&chkout=2024-08-31&x_pwa=1&rfrr=HSR&pwa_ts=1707232053839&referrerUrl=aHR0cHM6Ly9pdC5ob3RlbHMuY29tL0hvdGVsLVNlYXJjaA%3D%3D&useRewards=false&rm1=a2&regionId=536&destination=Berlino%2C+Germania&destType=MARKET&neighborhoodId=178780&selected=3502933&latLong=52.51384%2C13.35008&sort=RECOMMENDED&userIntent=&expediaPropertyId=3502933&searchId=17c68a4e-3cdc-4690-9252-882da4cde399">
                                                Click here to visit the web page
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 9th hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Berlin-Pankow
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Ferienwohnung Schönholzer Heide
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Friesenstraße 88, 13156 Berlin / Tel: 01575 3491752 / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://sites.google.com/view/fewo-schoenholzer-heide">
                                                Click here to visit the web page
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Bradenburg -->
                    <div class="wrap-testimony" style="margin-top: 25px;">
                        <h1 style="color: aliceblue;">Bradenburg</h1>
                        <!-- <div class="owl-carousel-fullwidth"> -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger; color: black;">Location:</span> Bradenburg
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Hotel:</span> Ferienscheune-Barnimer-Feldmark
                                        </p>
                                        <p>
                                            <span style="font-size: larger; color: black;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Eduard-Arnhold-Straße 9a, 16356 Werneuchen / Tel: +49 030 31806684 / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://ferienscheune-barnimer-feldmark.de/">
                                                Click here to visit the web page
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        <!-- </div> -->
                    </div>
                    <!-- Oranienburg -->
                    <div class="wrap-testimony" style="margin-top: 30px;">
                        <h1 style="color: aliceblue;">Oranienburg</h1>
                        <div class="owl-carousel-fullwidth">
                            <!-- 1st hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger;">Location:</span> Oranienburg
                                        </p>
                                        <p>
                                            <span style="font-size: larger;">Hotel:</span> Turist- information point Oranienburg
                                        </p>
                                        <p>
                                            <span style="font-size: larger;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Schloßplatz 2, 16515 Oranienburg / Tel: +49 03301 5220 040 /info&#64;oranienburg-erleben.de / 
                                            <a style="color: aliceblue; text-decoration: underline;" href="https://www.oranienburg-erleben.de/gastgeberverzeichnis/?filter_poi-place=oranienburg,oranienburg-ot-lehnitz">
                                                Click here to visit the web page
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- 2nd hotel -->
                            <div class="item">
                                <div class="customPadding testimony-slide active">
                                    <!-- <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure> -->
                                    <div class="timeline-body">
                                        <p>
                                            <span style="font-size: larger;">Location:</span> Oranienburg
                                        </p>
                                        <p>
                                            <span style="font-size: larger;">Hotel:</span> Oranjehus
                                        </p>
                                        <p>
                                            <span style="font-size: larger;">Address &amp; contacts:</span> 
                                        </p>
                                        <p>
                                            Clara-Zetkin-Straße 31, 16515 Oranienburg, Germany / Tel: +49 3301 83 50 972 /kontakt&#64;oranjehus.de 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- <div id="fh5co-testimonial" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Events and tourist attractions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 animate-box">
                    <div class="wrap-testimony">
                        <div class="owl-carousel-fullwidth">
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="assets/images/couple-1.jpg" alt="user">
                                    </figure>
                                    <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics"</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="assets/images/couple-2.jpg" alt="user">
                                    </figure>
                                    <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                    <blockquote>
                                        <p>"Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testimony-slide active text-center">
                                    <figure>
                                        <img src="assets/images/couple-3.jpg" alt="user">
                                    </figure>
                                    <span>John Doe, via <a href="#" class="twitter">Twitter</a></span>
                                    <blockquote>
                                        <p>"Far far away, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean."</p>
                                    </blockquote>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->