<div class="dial" [@dialogAnimation]>
    <h1 class="title">Welcome to the official website of the wedding of Peter & Leidy!</h1>
    <p class="text">
        Here you will find hopefully all the information you need to join us on this special day. To all those traveling to us from different corners 
        of the world, we sincerely thank you and cannot wait to have you here! 
        <span style="color: rgb(255, 151, 168);">Your presence is truly enough. The best gift you could give us is your love and company.</span>
    </p>
    <p class="text" style="font-weight: 600; color: #00168e;">Please confirm your attendance at the end of the page.</p>
</div>
  